<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  
 
<link rel="stylesheet" href="/css/style.css">

<link rel="stylesheet" href="/css/estilos_min_ORG.css">
<link type="text/css" href="js/b4/css/bootstrap.min.css" rel="stylesheet" />

<link type="text/css" href="js/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
 
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/tooltip.js"></script>
<script src="js/ui_azul/jquery-ui.min.js"></script>

<script src="js/b4/popper.min.js"></script>
<script src="js/b4/js/bootstrap.js"></script>  

<script src="js/jquery.blockUI.js "></script>
<script src="js/valida_campos_2.js"></script>

<script src="js/chart_4/highcharts.js"></script>
<script src="js/chart_4/highcharts-3d.js"></script>
<script src="js/chart_4/highcharts-more.js"></script>

  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35751/livereload.js"></script>
  <% } %>
</head>
<body>

